CONFIG_NR_CPUS=512
CONFIG_NODES_SHIFT=6
CONFIG_GPIO_TEGRA186=y
CONFIG_SPI_TEGRA210_QUAD=y
CONFIG_TCG_TIS_SPI=y
CONFIG_MTD_SPI_NOR=y
CONFIG_IPMI_SSIF=m
CONFIG_ARCH_TEGRA_241_SOC=y
CONFIG_TEGRA_IVC=y
CONFIG_USB_XHCI_PCI_RENESAS=m
CONFIG_ARM64_64K_PAGES=y
CONFIG_PREEMPT_DYNAMIC=y
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=n
CONFIG_NVIDIA_CORESIGHT_PMU_ARCH_SYSTEM_PMU=m
CONFIG_ARM_FFA_TRANSPORT=m
CONFIG_ARM_FFA_SMCCC=y
# CONFIG_UB is not set
# CONFIG_UB_SENTRY is not set
# CONFIG_UB_SENTRY_REMOTE is not set
# CONFIG_UB_UDMA is not set
# CONFIG_UB_URMA is not set
