CONFIG_LOCALVERSION="+debug"

# CONFIG_MODULE_SIG_FORCE is not set

# CONFIG_RANDOMIZE_BASE is not set

CONFIG_KASAN=y
CONFIG_KASAN_GENERIC=y
CONFIG_KASAN_INLINE=y
# CONFIG_KASAN_OUTLINE is not set
CONFIG_KASAN_STACK=y
CONFIG_KASAN_VMALLOC=y

CONFIG_KFENCE=y
CONFIG_DEBUG_VM=y
CONFIG_DEBUG_VM_PGFLAGS=y
CONFIG_DEBUG_SLAB=y
CONFIG_SLUB_DEBUG=y
CONFIG_SLUB_DEBUG_ON=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_KMEMLEAK_MEM_POOL_SIZE=16000
# CONFIG_DEBUG_KMEMLEAK_TEST is not set
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
# CONFIG_DEBUG_KMEMLEAK_AUTO_SCAN is not set
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_DEBUG_LIST=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_CONFIG_STACKPROTECTOR=y
CONFIG_PAGE_TABLE_CHECK=y

CONFIG_DEBUG_PAGEALLOC=y

CONFIG_KCOV=y
CONFIG_KCOV_INSTRUMENT_ALL=y
CONFIG_KCOV_ENABLE_COMPARISONS=y
CONFIG_FAULT_INJECTION=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_FAILSLAB=y
CONFIG_FAIL_PAGE_ALLOC=y
CONFIG_FAIL_MAKE_REQUEST=y
CONFIG_FAIL_IO_TIMEOUT=y
CONFIG_FAIL_FUTEX=y
CONFIG_HW_RANDOM=y
CONFIG_HW_RANDOM_VIRTIO=y

CONFIG_DEFAULT_HUNG_TASK_TIMEOUT=600
