CONFIG_GENERIC_IRQ_INJECTION=n
CONFIG_RUE=n
CONFIG_MEMCG_ZRAM=n
CONFIG_BT_GROUP_SCHED=n
CONFIG_CGROUP_SLI=n
CONFIG_RQI=n
CONFIG_TIME_NS=n
CONFIG_BT_SCHED=n
CONFIG_BT_SHARE_CFS_BANDWIDTH=n
CONFIG_HT_ISOLATE=n
CONFIG_IA32_FEAT_CTL=n
CONFIG_NUMA_AWARE_SPINLOCKS=n
CONFIG_ARCH_WANT_RESERVE_CRASH_KERNEL=n
CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG=n
CONFIG_TKERNEL=n
CONFIG_TKERNEL_WAN_TS=n
CONFIG_TKERNEL_PROBE_DELAY=n
CONFIG_TRACK_GPU=n
CONFIG_IRQ_LATENCY=n
CONFIG_MODULE_SIG_TENCENT=n
CONFIG_PAGE_REPORTING=n
CONFIG_PAGE_IDLE_FLAG=n
CONFIG_ASYNC_FORK=n
CONFIG_HUGETEXT=n
CONFIG_LRU_GEN=n
CONFIG_DUPTEXT=n
CONFIG_TEXT_UNEVICTABLE=n
CONFIG_ENHANCED_MM=n
CONFIG_EMM_FORCE_SWAPPINESS=n
CONFIG_EMM_RAMDISK_SWAP=n
CONFIG_EMM_WORKINGSET_TRACKING=n
CONFIG_EMM_MEMCG=n
CONFIG_EMM_RECLAIM=n
CONFIG_EMM_ZRAM_CONF=n
CONFIG_ARCH_SUPPORTS_SPECULATIVE_PAGE_FAULT=n
CONFIG_SPECULATIVE_PAGE_FAULT=n
CONFIG_DAMON=n
CONFIG_DAMON_VADDR=n
CONFIG_DAMON_PADDR=n
CONFIG_DAMON_DBGFS=n
CONFIG_TOA=n
CONFIG_IP_NF_TARGET_WH=n
CONFIG_IP_NF_TARGET_DNATLB=n
CONFIG_AUXILIARY_BUS=n
CONFIG_ZRAM_DEF_COMP_LZORLE=n
CONFIG_ZRAM_DEF_COMP="lzo-rle"
CONFIG_SCSI_MPT2SAS_MAX_SGE=128
CONFIG_SCSI_MPT3SAS_MAX_SGE=128
CONFIG_THIRDPARTY_IXGBE=n
CONFIG_THIRDPARTY_IXGBEVF=n
CONFIG_THIRDPARTY_I40E=n
CONFIG_THIRDPARTY_ICE=n
CONFIG_THIRDPARTY_IAVF=n
CONFIG_THIRDPARTY_BNXT=n
CONFIG_THIRDPARTY_MPT3SAS=n
CONFIG_THIRDPARTY_SMARTPQI=n
CONFIG_THIRDPARTY_LPFC=n
CONFIG_THIRDPARTY_MEGARAID_SAS=n
CONFIG_CGROUPFS=n
CONFIG_GENERIC_VDSO_TIME_NS=n
CONFIG_KILL_BLOCK=n
CONFIG_SECURITY_MONITOR=n

#the following 2 configure is undisabled
GENERIC_VDSO_TIME_NS=n
CONFIG_IA32_FEAT_CTL=n
